@use "sass:map";
@import "style/pages/theme";
@import "style/pages/all";


.login {

    input {
        width: calc(100% - 10px);
    }
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;

    &_container {
        background: white;
        padding: 32px;
        border-radius: 8px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    &_title {
        font-weight: 600;
        color: map.get($theme-color,"normal-text");
        margin-bottom: 24px;
    }

    &_form {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
    &_form_group {
        display: flex;
        flex-direction: column;
        gap: 8px;

    }
    &_label {
        font-size: 14px;
        font-weight: 500;
        color: map.get($theme-color,"normal-text");

    }

    &_button {
        height: 46px;
        font-size: 14px;
        font-weight: 600;
        color: black;
        background: map.get($theme-color,"main");
        border-radius: 4px;
        cursor: pointer;
        border: none;

    }
}